/**
 * Based on http://gld.chadlindemann.com/
 * a grid with golden ratio
 */

$golden: 1.618;
$col_num: 10;

$base:	100%;

$gld10:	$base / $golden;
$gld9:	$base - $gld10;
$gld8:	$gld9 / $golden;
$gld7:	$gld9 - $gld8;
$gld6:	$gld7 / $golden;
$gld5:	$gld7 - $gld6;
$gld4:	$gld5 / $golden;
$gld3:	$gld5 - $gld4;
$gld2:	$gld3 / $golden;
$gld1:	$gld3 - $gld2;

.large	{ width: $gld10 }
.xlarge	{ width: $base - ($gld7 + $gld7) }
.med	{ width: $gld9 }
.small	{ width: $gld8 }
.xsmall	{ width: $gld7 }

.full, header, footer, .large, .xlarge, .med, .small, .xsmall { padding: $gld2 $gld4; }

@for $i from 1 through $col_num {

  .gld-col-#{$i}
  {
    width: percentage( $i / 10 );
  }
}
[class*='gld-col-']{
  display: inline-block;
  float: left;
}
